<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
  crossorigin="anonymous"
></script>


   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-light" href="#">Blog</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-1/290257646_1057323541862296_857792289584419057_n.jpg?stp=c0.0.60.60a_cp0_dst-jpg_p60x60&_nc_cat=103&ccb=1-7&_nc_sid=7206a8&_nc_ohc=cjbchgVQxeIAX_941_B&_nc_ht=scontent.fdad3-1.fna&oh=00_AfC6i7jQYl3_vMFANUbXrztMVqMlduyEBX1YeRAleyeg5w&oe=63D791D6" alt="" class="user-avatar">
            Lâm Dương
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/course/create">Đăng khóa học</a></li>
           
                <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
           
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Đăng xuất</a></li>
           
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

    </div></div>
</nav>